{% extends "layout.html" %}
{% block body %}

<pre>


</pre>
       <div class="container-fluid">
            <div  class="row">
                <div class="col col-lg-8">


                    {% if condition %}
                        <div class="card bg-dark text-white">
                        <div class="card-heading"><center><h1>Something Wrong</h1></center></div>
                        <div class="card-body"><h1>{{ error }}</h1></div>
                        </div>
                    {% else %}
                       <div class="card bg-dark text-white">
                        <div class="card-heading"><center><h2>Sentiment Outcomes</h2></center></div>
                        <div class="card-body"><h5> Positive ={{ poss }} %</h5>
                                                <h5> Negative ={{ negg }} %</h5>
                                                <h5> Neutral ={{ neuu }} %</h5>
                                                <h5> Compound ={{ compp }} %</h5>
                        </div>
                        </div>
                    {% endif %}

                </div>
                 <div class="col col-lg-4">


                             <div class="alert alert-info ">
                            <h4>{{str_var}}</h4>

                            </div>

                    <center>
                        <input type="text"   id="myValues"  value="{{great_per}}"  readonly/>
                     </center>
                   <script src="{{url_for('static',filename='jquery.js')}}"></script>
                   <script src="{{url_for('static',filename='speedometer.js')}}"></script>
                   <script src="{{url_for('static',filename='speedometershow.js')}}"></script>
                 </div>
            </div>
       </div>


 </body>
</html>
{% endblock %}
